:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg-color: #fffcf2;
  --color-darkest:  #252422;
  --color-dark:     #403d39;
  --color-middle:   #ccc5b9;
  --color-lively:   #eb5e28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   color: var(--color-darkest);
}

*:focus { 
  outline: none
}

body {
  display: block;

  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  background-color: var(--color-bg-color);
}

#app {
  margin: 0 auto;
  padding: 0;

  text-align: center;
}

#app-main {
  display: flex;
}

header {
  display: flex;

  justify-content: left;

  padding: 1rem 0.5rem;

  color: var(--color-lively);
  background-color: var(--color-dark);
}

header div.app-name {
  font-weight: bolder;
}

header nav {
  margin-left: auto;
}

header nav a {
  margin-left: 1.5rem;

  font-weight: bolder;
  text-decoration: inherit;

  color: var(--color-lively);
}

header nav a:hover {
  color: var(--color-bg-color);
}

dialog {
  padding: 0;

  border: 2px solid var(--color-middle);
  border-radius: 16px;

  color: var(--color-darkest);
  background-color: var(--color-bg-color);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog div#about-title {
  padding: 0.25em;

  font-size: 1.5em;
  text-align: center;

  color: var(--color-lively);
  background-color: var(--color-dark);
}

.icon-close {
  position: absolute;
  right: 0.4em;
  top: 0.3em;

  width: 16px;
  height: 16px;

  cursor: pointer;
}

.icon-close:hover {
  color: var(--color-bg-color);
}

table {
  border-collapse: collapse;

  margin: 1em auto;
}

table tr th {
  padding-left: 1.5em;
  text-align: right;
}

table tr td {
  padding: 0.5em 1.5em 0.5em 0.5em;
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
