:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-bg-color: #fffcf2;
  --color-darkest:  #252422;
  --color-dark:     #403d39;
  --color-middle:   #ccc5b9;
  --color-lively:   #eb5e28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   color: var(--color-darkest);
}

*:focus { 
  outline: none
}

body {
  display: block;

  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  background-color: var(--color-bg-color);
}

#app {
  margin: 0 auto;
  padding: 0;

  text-align: center;
}

#app-main {
  display: flex;
}

header {
  display: flex;

  justify-content: left;

  padding: 1rem 0.5rem;

  color: var(--color-lively);
  background-color: var(--color-dark);
}

header div.app-name {
  font-weight: bolder;
}

header nav {
  margin-left: auto;
}

header nav a {
  margin-left: 1.5rem;

  font-weight: bolder;
  text-decoration: inherit;

  color: var(--color-lively);
}

header nav a:hover {
  color: var(--color-bg-color);
}

dialog {
  padding: 0;

  border: 2px solid var(--color-middle);
  border-radius: 16px;

  color: var(--color-darkest);
  background-color: var(--color-bg-color);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog div#dialog-title {
  padding: 0.25em;

  font-size: 1.5em;
  text-align: center;

  color: var(--color-lively);
  background-color: var(--color-dark);
}

dialog form {
  display: flex;
  flex-direction: column;

  padding: 0 15px 15px 15px;

  max-width: 480px;
}

dialog form div.html-input {
  position: relative;

  min-width: 320px;
  margin-top: 15px;

  font-style: italic;
  color: var(--color-lively);
}

dialog form div.html-input label {
  position: absolute;

  padding-top: 0.3em;
  pointer-events: none;

  background-color: transparent;

  left: 10px;

  transition: all 0.3s ease;
}

dialog form div.html-input input {
  padding: 0.75em;

  border: 1px solid var(--color-middle);
  border-radius: 8px;

  background-color: transparent;

  width:92%;
}

dialog form div.html-input input:focus {
  border-color: var(--color-lively);
}

dialog form div.html-input button {
  padding: 0.75em 0;

  border: 1px solid var(--color-middle);
  border-radius: 8px;

  font-weight: bolder;

  color: var(--color-lively);
  background-color: var(--color-middle);

  width: 33%;
}

dialog form div.html-input button:focus {
  border-color: var(--color-dark);
}

dialog form div.html-input input:focus~label,
dialog form div.html-input input.has-none-empty-value~label {
  transform: translateY(-58%);

  font-style: italic;
  font-size: 0.8em;

  padding: 2px;

  background-color: var(--color-bg-color);
  color: var(--color-lively);
  border-radius: 8px;
}

.icon-close {
  position: absolute;
  right: 0.4em;
  top: 0.3em;

  width: 16px;
  height: 16px;

  cursor: pointer;
}

.icon-close:hover {
  color: var(--color-bg-color);
}

.one-row {
  display: flex;
  justify-content: space-evenly;
}

table {
  border-collapse: collapse;

  margin: 1em auto;
}

table tr th {
  padding-left: 1.5em;
  text-align: right;
}

table tr td {
  padding: 0.5em 1.5em 0.5em 0.5em;
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
