:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: block;

  min-width: 320px;
  min-height: 100vh;

  margin: 0;

  background-color: #f0f6fb;
}

#app {
  margin: 0 auto;

  padding: 0;

  text-align: center;
}

header {
  display: flex;

  justify-content: left;

  padding: 1rem 0.5rem;

  background-color: #2a6592;
}

header div.app-name {
  font-weight: bolder;

  color: #f0f6fb;
}

header nav {
  margin-left: auto;
}

header nav a {
  margin-left: 1.5rem;

  color: #f0f6fb;
}

header nav a:hover {
  color: #cde1f1;
}

*:focus { 
  outline: none
}

dialog {
  padding: 0;

  border: 2px solid #f0f6fb;
  border-radius: 8px;

  color: #f0f6fb;
  background-color: #2a6592;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

dialog header {
  justify-content: center;

  font-size: 1.5em;
  text-align: center;

  padding: 0.25em;

  color: #2a6592;
  background-color: #f0f6fb;
}

table {
  border-collapse: collapse;

  margin: 1em auto;
}

table tr th {
  padding-left: 1.5em;
  text-align: right;
}

table tr td {
  padding: 0.5em 1.5em 0.5em 0.5em;
  text-align: left;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
